*{
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

header h1 {
  margin: 0;
  font-size: 20px;
}

header p {
  font-size: 8px;
  opacity: 0.9;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

#riddle {
  background: white;
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

#riddle1 {
  font-size: 10px;
  color: rgb(77, 76, 76);
}

#options {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 1.2rem;
}

button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(239, 161, 16);
}

#feedback {
  margin-top: 8px;
  font-weight: 600;
  color: lightgreen;
}

footer {
  background: rgb(28, 26, 26);
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 9px;
}
